<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">

<head>
    ...
</head>

<body>
    <main class="row">
        <div th:each=" p: ${items}" class="col-sm-4">

            <div  class="card " >
                <div class="card-body">
                    <a th:href="@{|/product/detail/${p.id}|}">
                        <img style="height: 150px;max-width: 95%;" class="card-img-top" th:src="@{|/assets/images/${p.image}|}"alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center" style="font-size: medium;">
                        <p th:text="${p.name}"></p>
                    </h4>
 
                </div>
               <div class="card">
                <div class="card-body">
                    <a href="#" class="card-link" th:text="${p.price}"></a>
                    <a th:attr="ng-click=@{|cart.add(${p.id})|}" href="#" class="card-link btn"><i style="max-width: 95%;" class="fa fa-shopping-cart"></i></a>
                    
                </div>
               </div>
            </div>


          




        </div>
    </main>
</body>

</html>