<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
    <main>
        <div class=" card" th:fragment="cart">
            <div class="panel panel-primary">
                <div class="panel-heading">Shopping cart</div>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    <tr ng-repeat="item in cart.items">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price|number:2}}</td>
                        <td> <input  ng-change="cart.saveToLocalStorage()" ng-model="item.quantity" type="number" value=""></td>
                        <td>{{item.quantity*item.price|number:2}}</td>
                        <td>
                            <button class="btn btn-primary"
                           
                             ng-click="cart.remove(item.id)">Delete <i
                                    class="fa fa-trash" ></i></button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" ng-click="cart.clear()">
                        <i class="fa fa-trash" aria-hidden="true">Clear</i>
                    </button>
                    <a class="btn btn-primary" th:href="@{/order/checkout}">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true">Checkout</i>
                    </a>
                </div>
                


            </div>
        </div>
    </main>
</body>

</html>